@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  letter-spacing: 00.03em;
  font-family: var(--font-family);
  color: var(--font-heading-color);
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

button {
  cursor: pointer;
}

input {
  cursor: pointer;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

.image {
  display: block;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --font-description-color: hsl(0, 0%, 46%);
  --font-heading-color: #212121;
  --accent-color: #ffffff;
  --hover-link-color: #2196f3;
  --background-basic: #e5e5e5;
  --background-team-color: #f5f4fa;
  --background-footer-color: #2f303a;
  --font-family: "Roboto", sans-serif;
  --font-size-header-footer-features: 14px;
  --font-size-command: 16px;
  --hover-web-color: #2196f3;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal.window {
  transform: translate(-50%, -50%) scale(0.9);
}

.header-menu__mobile-menu {
  display: none;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0;
  margin: 0 0;
  background-color: #ffff;
}

.header-menu__mobile-menu.is-open {
  position: fixed;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .header-menu__mobile-menu {
    height: 100vh;
    padding: 48px 40px;
  }
}

/* устнавливаем правила показа меню для таблетки и десктопа */
@media screen and (min-width: 768px) {
  .header-menu__mobile-menu {
    position: relative;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header-menu__mobile-menu {
    position: relative;
    display: inline-block;
  }
}

@media screen and (max-width: 767px) {
  .header-menu__navigation-and-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.header-menu__phone-menu-icon {
  margin: 22px 23px 22px 0;
  display: block;
  background-color: transparent;
  border: none;
  z-index: 10;
}

.header-menu__phone-menu-icon .header-menu__icon-close {
  display: none;
}

.header-menu__phone-menu-icon.is-open .header-menu__icon-close {
  display: block;
}

.header-menu__phone-menu-icon.is-open .header-menu__icon-open {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-menu__phone-menu-icon {
    display: none;
  }
}

/* показываем только в мобильной версии  */
@media screen and (max-width: 767px) {
  .header-menu__social-monbile {
    display: flex;
    margin-top: 8%;
  }
}

@media screen and (min-width: 768px) {
  .header-menu__social-monbile {
    display: none;
  }
}

.header-menu__social-list-item {
  display: inline-block;
  color: var(--hover-link-color);
  font-size: 18px;
  line-height: 1.22;
}

.header-menu__social-list-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.section {
  padding: 0px 15px 60px 15px;
}

@media (min-width: 1200px) {
  .section {
    padding: 94px 0px;
  }
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container.section {
    padding-left: 0;
    padding-right: 0;
  }
}

.logo {
  display: block;
  margin: 16px 15px;
  font-family: Raleway;
  font-size: 24px;
  color: var(--font-heading-color);
  font-weight: 700;
  line-height: 1.19;
}

.logo:focus, .logo:hover {
  color: var(--hover-link-color);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .logo {
    margin: 26px 0 26px 15px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    margin: 0;
    padding: 24px 0 25px 0;
    position: absolute;
    z-index: 10;
  }
}

.logo__span {
  color: var(--hover-link-color);
}

.footer__logo {
  margin: 0 0 20px 0;
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-top: 0;
    padding: 0 0 0 0;
    margin-top: 60px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .logo.footer__logo {
    position: relative;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .header-menu__navigation {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .header-menu__navigation {
    display: flex;
    width: 294px;
    justify-content: space-between;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header-menu__navigation {
    display: inline-block;
    width: inherit;
    margin-left: 238px;
    width: 302px;
  }
  .header-menu__navigation .header-menu__navigation-item + .header-menu__navigation-item {
    margin-left: 50px;
  }
}

/* меню телефон */
@media screen and (max-width: 767px) {
  .header-menu__navigation-item {
    font-size: 40px;
    color: var(--font-heading-color);
    font-weight: 500;
    line-height: 1.17;
    display: block;
    margin-bottom: 48px;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
}

/* десктоп */
@media screen and (min-width: 768px) {
  .header-menu__navigation-item {
    font-size: var(--font-size-header-footer-features);
    color: var(--font-heading-color);
    font-weight: 500;
    line-height: 1.17;
    position: relative;
    display: inline-block;
    padding: 32px 0 32px;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
  .header-menu__navigation-item:hover, .header-menu__navigation-item:focus {
    color: var(--hover-link-color);
  }
}

.header-menu__navigation-item--active {
  color: var(--hover-link-color);
}

.header-menu__navigation-item--active::after {
  display: block;
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--hover-link-color);
  position: absolute;
  bottom: 0;
}

/* убираем подчеркивание меню в мобильной версии */
@media screen and (max-width: 767px) {
  .header-menu__navigation-item--active::after {
    display: none;
  }
}

.header-menu__phone,
.header-menu__email {
  display: inline-flex;
  align-items: center;
}

.header-menu__contacts {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .header-menu__contacts {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) {
  .header-menu__contacts {
    display: flex;
    flex-direction: column;
    margin-left: 84px;
    font-size: 12px;
    color: #757575;
    font-weight: 500;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .header-menu__contacts {
    margin: 0 0 0 305px;
    display: inline-block;
    font-size: 14px;
    color: #757575;
    font-weight: 500;
    line-height: 1.17;
  }
  .header-menu__contacts .header-menu__contacts-item {
    display: inline-block;
    padding: 32px 0;
  }
}

.header-menu__contacts-item {
  cursor: pointer;
}

.header-menu__contacts-item:focus, .header-menu__contacts-item:hover {
  color: var(--hover-link-color);
}

/* задаем геометрию контактов для мобильной версии */
@media screen and (max-width: 767px) {
  .header-menu__contacts {
    margin-top: 38%;
    padding: 0 0;
  }
  .header-menu__contacts-item {
    padding: 0 0;
    margin: 0 0;
  }
}

/* цвет и размеры телефона и почты в мобильной версии и маржины для создания аысоты мобильного меню*/
@media screen and (max-width: 767px) {
  .header-menu__email {
    color: #757575;
    font-size: 24px;
  }
  .header-menu__phone {
    color: var(--hover-link-color);
    font-size: 34px;
    font-weight: 500;
    margin: 0px 0 32px 0;
  }
}

@media screen and (min-width: 1200px) {
  .header-menu__contacts-item {
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header-menu__contacts-item + .header-menu__contacts-item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header-menu__contacts-item:first-child {
    margin-bottom: 10px;
  }
}

/* скрываем икогнки в мобильной версии */
@media screen and (max-width: 768px) {
  .header-menu__icon-email {
    display: none;
  }
  .header-menu__icon-phone {
    display: none;
  }
}

/* задаем размер иконок под таблетку */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header-menu__icon-email {
    display: inline-block;
    margin-right: 8px;
    width: 14px;
    height: 10px;
    fill: currentColor;
  }
  .header-menu__icon-phone {
    display: inline-block;
    width: 10px;
    height: 14px;
    margin-right: 8px;
    fill: currentColor;
  }
}

/* задаем размер иконок под десктоп */
@media screen and (min-width: 1200px) {
  .header-menu__icon-email {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
  .header-menu__icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
}

.subscribe.btn {
  position: relative;
  padding: 10px 0 10px 27px;
  text-align: left;
}

.hero__order-btn {
  padding: 10px 32px;
  min-width: 200px;
  margin-top: 40px;
  padding: 10px 32px;
  background-color: var(--hover-link-color);
  border-radius: 4px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  color: var(--accent-color);
  font-weight: 700;
  line-height: 1.88;
}

.btn {
  display: inline-block;
  width: 200px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  letter-spacing: 0.06em;
  font-size: 16px;
  color: var(--accent-color);
  font-weight: 700;
  line-height: 1.86;
}

.name-btn {
  margin-left: 0;
}

.icon-send-btn {
  position: absolute;
  fill: var(--accent-color);
  margin-left: 10px;
  top: 13px;
  right: 28px;
}

.send.btn {
  background-color: var(--hover-web-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send.btn:hover, .send.btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.send.btn {
  display: block;
  margin: 30px auto 0 auto;
  padding: 10px 0 10px;
}

.filter {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.filter__item + .filter__item {
  margin-left: 8px;
}

.filter-button {
  min-height: 38px;
  padding: 6px 22px;
  background-color: #f5f4fa;
  text-align: center;
  border: 0ch;
  border-radius: 4px;
  letter-spacing: inherit;
  font-size: 16px;
  color: var(--font-heading-color);
  font-weight: 500;
  line-height: 1.62;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:focus, .filter-button:hover {
  background-color: var(--hover-web-color);
  color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: relative;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  width: 94%;
  position: absolute;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

@media (min-width: 480px) {
  .modal-window {
    width: 450px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .modal-window {
    width: 450px;
    height: 609px;
  }
}

@media (min-width: 1200px) {
  .modal-window {
    width: 528px;
    height: 581px;
  }
}

.modal-window__content {
  padding: 40px;
}

.modal-window__message {
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
}

.modal-window__form {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #757575;
  font-size: 12px;
}

.modal-window__form + .modal-window__form {
  margin-top: 10px;
}

.modal-window__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__input:focus, .modal-window__input:hover {
  border: 1px solid #2196f3;
}

.modal-window__input:focus ~ .modal-window__icon,
.modal-window__input:hover ~ .modal-window__icon {
  fill: var(--hover-web-color);
}

.modal-window__text-area {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
}

.modal-window__text-area:focus, .modal-window__text-area:hover {
  border: 1px solid #2196f3;
}

@media (min-width: 1200px) {
  .modal-window__text-area {
    width: 448px;
    height: 120px;
  }
}

.modal-window__icon {
  position: absolute;
  top: 28px;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__forma-name {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-window__text-area[placeholder] {
  padding-top: 12px;
  padding-left: 16px;
}

.close-btn {
  background-color: var(--accent-color);
  position: absolute;
  right: 8px;
  top: 8px;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-btn:hover .close-btn__icon,
.close-btn:focus .close-btn__icon {
  fill: var(--hover-web-color);
}

.close-btn__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__agreement {
  margin-top: 20px;
  font-size: 12px;
}

@media (min-width: 1200px) {
  .modal-window__agreement {
    font-size: 14px;
  }
}

.modal-window__link {
  display: inline-block;
  color: var(--hover-web-color);
  margin-left: 5px;
  text-decoration: underline;
}

.modal-window__agree {
  align-items: center;
  justify-content: center;
}

.modal-window__agree::before {
  display: inline-block;
  content: " ";
  margin-right: 7px;
  width: 16px;
  height: 15px;
  background-image: url("../images/border-check.svg");
}

.modal-window__checkbox:checked ~ .modal-window__agree::before {
  background-color: var(--hover-web-color);
  border-radius: 4px;
  background-image: url("../images/icon-check.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-origin: content-box;
}

.checkbox:checked ~ .agree::before {
  background-color: var(--hover-web-color);
  border-radius: 4px;
  background-image: url("../images/icon-check.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-origin: content-box;
}

.social-link__icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px 0;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member__social-link:not(:first-child) {
  margin-left: 10px;
}

.social-link__ln {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link__ln:hover .social-link__icon,
.social-link__ln:focus .social-link__icon {
  fill: var(--accent-color);
}

.social-link__ln:hover, .social-link__ln:focus {
  background-color: var(--hover-link-color);
}

.footer__social-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--accent-color);
  border-radius: 50%;
}

.footer__social-link + .footer__social-link {
  margin-left: 10px;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.header-menu {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: flex;
    justify-content: left;
  }
}

@media screen and (min-width: 1200px) {
  .header-menu {
    display: inline-block;
  }
}

.features {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .features__item {
    width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
    height: 251px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
    height: 120px;
  }
}

.features__title {
  font-size: var(--font-size-header-footer-features);
  color: var(--font-heading-color);
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__describe {
  font-size: var(--font-size-header-footer-features);
  color: #757575;
  font-weight: 400;
  line-height: 1.74;
}

@media screen and (max-width: 767px) {
  .features__describe {
    text-align: start;
  }
}

.feautures__icon {
  width: 354px;
  height: 120px;
  padding: 25px 0;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

@media screen and (max-width: 767px) {
  .feautures__icon {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .feautures__icon {
    width: 270px;
    height: 120px;
    padding: 25px 0;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #f5f4fa;
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding: 118px 0 118px;
  text-align: center;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/background_phone.jpg");
    height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/background_tablet.jpg");
    height: 400px;
    min-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 0px;
    height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/background.jpg");
    background-repeat: no-repeat;
  }
}

.hero__title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  font-size: 26px;
  color: var(--accent-color);
  font-weight: 900;
  line-height: 1.62;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    color: var(--accent-color);
    font-weight: 900;
    line-height: 1.62;
  }
}

.section.expertise {
  padding-top: 94px;
}

@media screen and (max-width: 1200px) {
  .section.expertise {
    display: none;
  }
}

.container__expertises-title {
  color: var(--font-heading-color);
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
}

.expertises {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.expertises__item {
  position: relative;
}

.expertises__title {
  text-align: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  padding: 27px 0 27px;
  text-transform: uppercase;
  font-size: var(--font-size-header-footer-features);
  color: var(--accent-color);
  font-weight: 700;
  line-height: 1.17;
}

.team {
  width: 100%;
  background-color: #f5f4fa;
  text-align: center;
  line-height: 1.17;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

.team__title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.member__name {
  margin-top: 30px;
  font-weight: 500;
  font-size: var(--font-size-command);
}

.member__position {
  margin-top: 10px;
  color: var(--font-description-color);
  font-size: var(--font-size-command);
}

@media screen and (max-width: 767px) {
  .members {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .members {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .members {
    display: flex;
    justify-content: space-between;
  }
}

.member {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .member {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .member {
    width: 354px;
    margin: 15px;
  }
}

.member .member__social-media {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 16px 0px 24px;
}

@media screen and (max-width: 767px) {
  .member:not(:last-child) {
    margin-bottom: 30px;
  }
}

.customers__title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .customers__title {
    margin-bottom: 50px;
    margin-top: 0;
    font-size: 36px;
    color: var(--font-heading-color);
    font-weight: 700;
    line-height: 1.17;
  }
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .customers-list {
    flex-wrap: nowrap;
  }
}

.customer {
  margin: 15px;
  width: 210px;
}

@media screen and (max-width: 479px) {
  .customer {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .customer {
    width: 226px;
  }
}

.customer__link {
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__link:hover, .customer__link:focus {
  border: 1px solid var(--hover-web-color);
}

.customer__link:hover .customer__icon,
.customer__link:focus .customer__icon {
  fill: var(--hover-web-color);
}

@media screen and (min-width: 1200px) {
  .customer__link {
    display: flex;
    width: 170px;
  }
}

.customer__icon {
  display: flex;
  align-items: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects__link {
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__link:hover .projects__describe,
.projects__link:focus .projects__describe {
  transform: translateY(-100%);
}

.projects__image-overlay {
  position: relative;
  overflow: hidden;
}

.projects__describe {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin-top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  color: var(--accent-color);
  font-weight: 400;
  line-height: 1.56;
}

.projects__image-overlay {
  position: relative;
  overflow: hidden;
}

.projects__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.projects__capture {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects__name {
  display: block;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
  font-size: 18px;
  color: var(--font-heading-color);
  font-weight: 700;
  line-height: 2;
}

.projects__kind {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.footer {
  padding-top: 0px;
  background-color: var(--background-footer-color);
  color: var(--accent-color);
  --font-heading-color: var(--accent-color);
}

.footer-content {
  display: block;
  padding-top: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-content {
    width: 1600px;
    display: flex;
    text-align: left;
  }
}

.footer-content__mail,
.footer-content__phone {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.footer-content__mail:hover, .footer-content__mail:focus,
.footer-content__phone:hover,
.footer-content__phone:focus {
  color: var(--hover-web-color);
}

.footer-conten__media {
  margin-top: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-conten__media {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-conten__media {
    margin-top: 12px;
    margin-left: 70px;
  }
}

.footer-conten__media-title {
  font-size: var(--font-size-header-footer-features);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.18;
}

.footer-content__social-media {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-content__adress {
  line-height: 1.71;
  font-style: normal;
}

.footer__form {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .footer__form {
    display: flex;
    justify-content: center;
    padding-top: 12px;
    flex-direction: row;
  }
}

.footer-conten__subscribe-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  width: 450px;
}

@media screen and (max-width: 479px) {
  .footer-conten__subscribe-section {
    width: 100%;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-conten__subscribe-section {
    width: 358px;
    margin-left: 93px;
  }
}

.footer-content__subscribe-label {
  margin-bottom: 20px;
}

.footer-content__subscribe-email {
  padding: 15px 16px;
  background-color: var(--background-footer-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--accent-color);
}

.footer-content__subscribe-email::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-content__submit-button {
  margin-top: 20px;
}

@media (min-width: 1200px) {
  .footer-content__submit-button {
    margin-top: 35px;
    margin-left: 12px;
  }
}

@media screen and (min-width: 768px) {
  .footer-content__adress-and-media {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-content__adress-logo {
    margin-left: 15px;
  }
}
/*# sourceMappingURL=main.css.map */