:root {
  --font-description-color: hsl(0, 0%, 46%);
  --font-heading-color: #212121;
  --accent-color: #ffffff;
  --hover-link-color: #2196f3;
  --background-basic: #e5e5e5;
  --background-team-color: #f5f4fa;
  --background-footer-color: #2f303a;
  --font-family: "Roboto", sans-serif;
  --font-size-header-footer-features: 14px;
  --font-size-command: 16px;
  --hover-web-color: #2196f3;
}
