.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.header-menu {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: flex;
    justify-content: left;
  }
}

@media screen and (min-width: 1200px) {
  .header-menu {
    display: inline-block;
  }
}
