.hero {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding: 118px 0 118px;
  text-align: center;
  background-size: contain;

  @media screen and (max-width: 479px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/background_phone.jpg");
  }

  @media screen and (min-width: 320px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/background_phone.jpg");
    height: 400px;
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/background_tablet.jpg");
    height: 400px;
    min-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    width: 1600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/background.jpg");
    background-repeat: no-repeat;
  }
}

.hero__title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  @include font_size_color_line_weight(26px, var(--accent-color), 1.62, 900);
  @media screen and (min-width: 1200px) {
    @include font_size_color_line_weight(44px, var(--accent-color), 1.62, 900);
  }
}
