.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects__link {
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .projects__describe,
  &:focus .projects__describe {
    transform: translateY(-100%);
  }
}

.projects__image-overlay {
  position: relative;
  overflow: hidden;
}

.projects__describe {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin-top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include font_size_color_line_weight(18px, var(--accent-color), 1.56);
}

.projects__image-overlay {
  position: relative;
  overflow: hidden;
}

.projects__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.projects__capture {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects__name {
  display: block;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
  @include font_size_color_line_weight(18px, var(--font-heading-color), 2, 700);
}

.projects__kind {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}
