.modal-window__agreement {
  margin-top: 20px;
  font-size: 12px;
}

@media (max-width: 468px) {
  .modal-window__agreemen {
    font-size: 2.5vw;
  }
}

.modal-window__agreement {
  margin-top: 20px;
  font-size: 12px;

  @media (min-width: 1200px) {
    font-size: 14px;
  }

  @media (max-width: 480px) {
    font-size: 2.5vw;
  }
}

.modal-window__link {
  display: inline-block;
  color: var(--hover-web-color);
  margin-left: 1vw;
  text-decoration: underline;
}

.modal-window__agree {
  display: flex;
  align-items: center;
  justify-content: left;
  &::before {
    display: inline-block;
    content: " ";
    margin-right: 7px;
    width: 16px;
    height: 15px;
    background-image: url("../images/border-check.svg");
  }
}

@media screen and(max-width:480px) {
  .modal-window__agree {
    &::before {
      display: inline-block;
      content: " ";
      margin-right: 1.4vw;
      width: 3.3vw;
      height: 3.1vw;
      background-image: url("../images/border-check.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.modal-window__checkbox:checked ~ .modal-window__agree::before {
  background-color: var(--hover-web-color);
  border-radius: 4px;
  background-image: url("../images/icon-check.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-origin: content-box;
}
