/* показываем только в мобильной версии  */
.header-menu__social-monbile.mobile {
  display: none;
  margin-top: 8vh;
  @media screen and (min-width: 480px) {
    margin-top: 64px;
  }
  @media screen and (max-width: 768px) {
    display: flex;
  }
}

.header-menu__social-list-item {
  display: inline-block;
  color: var(--hover-link-color);
  font-size: 18px;
  line-height: 1.22;
}

.header-menu__social-list-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and(max-width:480px) {
}
.header-menu__social-list-item {
  font-size: 3.8vw;
  line-height: 1.22;
}

.header-menu__social-list-item:not(:last-child) {
  padding-right: 2vw;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
