.logo {
  display: block;
  margin: 16px 15px;
  font-family: Raleway;
  @include font_size_color_line_weight(
    24px,
    var(--font-heading-color),
    1.19,
    700
  );
  &:focus,
  &:hover {
    color: var(--hover-link-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin: 26px 0 26px 15px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    margin: 0;
    padding: 24px 0 25px 0;
    position: absolute;
    z-index: 10;
  }
}

.logo__span {
  color: var(--hover-link-color);
}

.footer__logo {
  margin: 0 0 20px 0;
  @media screen and(min-width:1200px) {
    margin-top: 0;
    padding: 0 0 0 0;
    margin-top: 60px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .logo.footer__logo {
    position: relative;
    margin: 0;
  }
}
