.header-menu__navigation {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    width: 294px;
    justify-content: space-between;
    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: -49.6px;
    .header-menu__navigation-item + .header-menu__navigation-item {
      margin-left: 50px;
    }
  }
  &.mobile {
    display: flex;
    flex-direction: column;
  }
}

/* меню телефон */

@media screen and (max-width: 768px) {
  .header-menu__mobile-item {
    @include font_size_color_line_weight(
      8.3vw,
      var(--font-heading-color),
      1.17,
      500
    );
    display: block;
    margin-bottom: 48px;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
}

@media screen and (max-width: 480px) {
  .header-menu__navigation-item {
    font-size: 8.3vw;
    margin-bottom: 6vh;
  }
}

/* десктоп */
@media screen and (min-width: 768px) {
  .header-menu__navigation-item {
    @include font_size_color_line_weight(
      var(--font-size-header-footer-features),
      var(--font-heading-color),
      1.17,
      500
    );
    position: relative;
    display: inline-block;
    padding: 32px 0 32px;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    &:hover,
    &:focus {
      color: var(--hover-link-color);
    }
  }
}

.header-menu__navigation-item--active {
  color: var(--hover-link-color);
  &::after {
    display: none;
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--hover-link-color);
    position: absolute;
    bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .header-menu__navigation-item--active::after {
    display: block;
  }
}
